{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="form">
        <h1>Welcome {{ request.user }}</h1>
        <a href="{% url 'add_recipe' %}" class="title nav_menu_main_link account">Add recipe</a>
        {% if Recipes.count > 0 %}
            <div class="recipes_block">
                <h2 class="title recipe_title">Рецепты</h2>
                {% for recipe in Recipes %}
                <div class="recipe_item">
                    <a href="{% url 'recipe' recipe.id  %}" class="recipe_url">
                        <div class="recipe_img">
                             {% if recipe.image.url != none %}
                                <img src="{{ recipe.image.url }}" alt="recipe_img" class="recipe_img">
                            {% else %}
                                <h3 class="title">NOT FOUND IMAGE</h3>
                            {% endif %}
                        </div>
                        <div class="recipe_content_text">
                            <p class="text item_text recipe_text">Title: {{ recipe.title }}</p>
                            <p class="text item_text recipe_text categories">Categories: {{ recipe.categories }}</p>
                            <p class="text item_text recipe_text cooking_time">Cooking time: {{ recipe.cooking_time }}</p>
                            <!-- <p class="text item_text recipe_text date">recipe.date</p> -->
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="recipes_block">
                <h2>Вы еще не добавили рецепты</h2>
            </div>
        {% endif %}
    </div>
{% endblock %}